@import "../_static/colors";

@import "../_function/_basic-functions/order";
@import "../_function/_functionalities/footer-social";

@mixin footer {
	footer{
		background-color: $background-light-grey;
		@include flex-order(4);
		padding: 0 20px;

		div{
			padding: 10px 0;
			text-align: center;

			font-size: 12px;
			font-weight: 600;
			margin: 0 auto;
			text-transform: uppercase;
			width: 100%;
			max-width: 935px;

			nav {

				ul{
					@include footer-social;
					li {
						@include social-item;
						span {
							@include language;
						}
					}
				}
				ul:lastchild{
					margin-right:0;
				}
			}

			span {
				@include copyright;
				select {
					@include language-selector;
				}
			}

		}
	}
}