// all the colors stuff 
$border-black : #000;
$background-light-grey : #fafafa;
$darker-border : #efefef;
$lighter-border : #dbdbdb;
$black-font : #262626;
$link-grey : #003569;
$light-blue : #3897f0;
$grey-font : #999;