@mixin logo-stuff {
.coreSpriteDesktopNavLogoAndWordmark{
	background-image: url();
	background-position: -504px -176px;
	// The first value is the horizontal position 
	// the second value is the vertical 
	// Top left corner is 0 0 
	// the background-position represent that you move the 
	// image relative to the element. 
	// negative value means you move it up or left. 

	background-repeat: no-repeat;
	height: 35px;
	width: 176px;
}

.coreSpriteSearchIcon {
	background-image: url();
	background-position: -682px -200px;
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}

.coreSpriteDesktopNavExplore {
	background-image: url();
	background-position: -505px -321px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.coreSpriteEllipsis {
	background-image: url();
	background-position: -404px -268px;
	background-repeat: no-repeat;
	height: 44px;
	width: 44px;
}

.coreSpriteSearchIcon{
	background-image: url();
	background-position: -682px -200px;
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}

}
